@using MvcCV.Models.Entity;
@model List<TblSosyalMedya>

<div class="social-icons">
    @foreach (var item in Model)
    {


        if (item.Durum == true)
        {
            <a class="social-icon" title="@item.Ad" href="@item.Link" target="_blank"><i class="@item.icon"></i></a>
        }

    }
</div>