@using MvcCV.Models.Entity;
@model List<Tbl_Deneyimlerim>

@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<br />
<form class="form-group" method="post">

    <input type="text" name="Baslik" class="form-control" placeholder="Başlığı yazınız" /><br />
    <input type="text" name="AltBaslik" class="form-control" placeholder="Açıklama" /><br />
    <input type="text" name="Tarih" class="form-control" placeholder="Çalışma Tarihi" /><br />
    <textarea name="Aciklama" class="form-control" rows="5" placeholder="Açıklamanızı giriniz"></textarea><br />

    <button class="btn btn-info">Kaydet</button>

</form>

